.Contenedor-PagInicial{
background-image: url('../components/gif/3qR.gif');
background-repeat: no-repeat;
background-size: cover;
background-position: center;
background-attachment: fixed;
color: white;




}

